body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: large;
  background-color: aliceblue;
  border: 3px solid black;
  border-radius: 6px;
}
button:hover {
  background-color: rgb(156, 163, 175);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
